@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard Variable';
  src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-display: swap;
}

@theme {
  --font-sans: 'Pretendard Variable', sans-serif;
  --color-blue: #3f72af;
}

body {
  font-family: var(--font-sans);
  background-color: #fff;
  color: #222;
}
