{
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": false,
  "endOfLine": "auto",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "useTabs": false,
  "arrowParens": "always",
  "proseWrap": "never",
  "quoteProps": "as-needed",
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css"
}
